/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.timer {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 40px;
  font-weight: 700;
}

.label {
  font-size: 14px;
  text-transform: uppercase;
  color: #777;
}

#datetime-picker {
  margin-top: 20px;
  padding: 8px 12px;
  font-size: 16px;
}

button[data-start] {
  padding: 8px 18px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
}
button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
